{% extends "base.html" %}
{% block content %}

  <div class="centerstage">
{#  {% for post in post_list %}#}
{#    <div class="post">#}
{#      <h1><a href="{% url 'blog:post_detail' pk=post.pk %}">{{ post.title }}</a></h1>#}
{#      <div class="date">#}
{#        <p>Published on: {{ post.published|date:"D M Y" }}</p>#}
{#      </div>#}
{#    <a href="{% url 'blog:post_detail' pk=post.pk %}"> Comments: {{ post.approve_comments.count }}</a>#}
{##}
{#    </div>#}
{#  {% endfor %}#}
    <strong>Pictures!</strong>

    {% if not pictures %}
      <div><h3>Awwwwww! Empty here? <a class="" href="{% url 'picuploader:upload_picture' %}">Upload a picture!</a></h3></div>

    {% else %}
      <div>
      {% for picture in pictures %}

          <div class="col-md-4">

            <img src="{{ picture.picturefile.url }}" class="img-responsive" style="width: 100%; float: left; margin-right: 10px;" />
            {{ picture.name }}
            <a class="btn btn-primary" href="{% url 'picuploader:picture_remove' pk=picture.pk %}"> Delete Picture </a>
            <a class="btn btn-primary" href="{% url 'picuploader:picture_detail' pk=picture.pk %}"> Detail</a>
          </div>
      {% endfor %}
      </div>
    {% endif %}

  </div>
{% endblock %}





