{% extends "base.html" %}
{% block content %}
  <div class="centerstage">
    <strong>Picture Upload</strong>

    <form enctype="multipart/form-data" method="POST" action="">
      {% csrf_token %}
      {{ form.as_p }}
    <input type="submit" value="Upload"/>
    </form>
  </div>
{% endblock %}