{% extends "base.html" %}
{% block content %}
  <div class="centerstage">
    <strong>Picture Uploaded Successfully!</strong>
    <br><br>
    <img src='{{ picture.url }}' width="100">

  </div>
{% endblock %}