{% extends "base.html" %}
{% block content %}

  <strong>Pictures Detail!</strong>
  <div class="centerstage">
      <div class="col-md-3">
        {{ picture.name }}
        <img src="{{ picture.picturefile.url }}" />
      </div>
  </div>
{% endblock %}