{% extends "base.html" %}
{% block content %}

  <strong>Pictures Detail!</strong>
  <div class="centerstage">

     <form method="post">
      {% csrf_token %}
      <p>Are you sure to delete "{{ object }}"?</p>
      <input type="submit" class="btn btn-danger" value="Confirm">
     </form>

  </div>
{% endblock %}